{% extends "base.html" %}
{% block meta %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    </style>
{% endblock meta %}
{% block content %}
{% include 'nav-customer.html'%}
<div class="mainpnl centered container w-75 align-middle">
    <table class="table table-sm">
        <h2>KAMAR</h2>
        <tbody>
            <tr>
                <th scope="row">ID Reservasi:</th>
                <td class="text-center"><input type="text"></td>
            </tr>
            <tr>
                <th scope="row">Nomor Kamar:</th>
                <td class="text-center"><input type="text"></td>
            </tr>
            <tr>
                <th scope="row">Nama Hotel:</th>
                <td class="text-center"><input type="text"></td>
            </tr>
        </tbody>
    </table>
    <button>Tambah</button>
</div>
{% endblock content %}