{% extends "base.html" %}
{% block meta %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    </style>
{% endblock meta %}
{% block content %}
{% include 'nav-customer.html'%}
    <h1>Daftar Reservasi</h1>

    <table class="table table-striped p-2">
        <tr>
            <th>ID Reservasi</th>
            <th>Nomor Kamar</th>
            <th>Date</th>
            <th>Status Reservasi</th>
            <th>Action</th>
        </tr>
        {% for info in reservasis %}
        <tr>
            <td>{{ info.rid }}</td>
            <td>{{ info.rnum }}</td>
            <td>{{ info.datetime }}</td>
            <td>{{ info.status }}</td>
            <td>
                <button onclick="location.href='{% url 'Han:detail_reservasi' info.rid %}';">Detail Reservasi</button>
                <button>Cancel Reservasi</button>
                <button onclick="location.href='{% url 'reservasi:add_complaint' info.rid %}';">Add Complaints</button>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
