{% extends "base.html" %}
{% block meta %}
    <title>Fasilitas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock meta %}
{% block content %}
    {% include "nav-hotel.html" %}
    <div class="container">
        <h2 class="text-center my-4">FORM UPDATE FASILITAS</h2>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="reservation-panel">
                    <form id="search-form" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="minimum">Nama Sebelum: {{ facility }} </label>
                            <br>
                            <label for="minimum">Nama Fasilitas: </label>
                            <input type="text" class="form-control" id="facility_name" name="facility_name">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">UPDATE</button>
                        </div>
                    </form>
                </div>
                <div id="result-message">
                
                </div>
            </div>
                
            
        </div>
    </div>
    <div style="margin-top: 10px;"></div>
    
{% endblock content %}
