{% extends "base.html" %}
{% block meta %}
    <title>Fasilitas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock meta %}
{% block content %}
    {% include "nav-hotel.html" %}
    <div class="container">
        <h2 class="text-center my-4">FORM UPDATE FASILITAS</h2>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="reservation-panel">
                    <form id="search-form" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="minimum">Nama Sebelum: {{ facility }} </label>
                            <input type="hidden" id="original_facility_name" value="{{ facility }}">
                            <br>
                            <label for="minimum">Nama Fasilitas: </label>
                            <input type="text" class="form-control" id="facility_name" name="facility_name">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">UPDATE</button>
                        </div>
                    </form>

                    {% if message %}
    
                    <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>

                    {% endif %}

                    
  
                </div>
            </div>
                
            
        </div>
    </div>
    <div style="margin-top: 10px;"></div>
<!-- 
    <script>
        $(document).ready(function() {
            $('#search-form').submit(function(e) {
                var originalName = $('#original_facility_name').val();
                var newName = $('#facility_name').val();
                if (originalName === newName) {
                    // Prevent the form from submitting
                    e.preventDefault();
                    // Show the modal
                    $('#sameNameModal').modal('show');
                }
                // If names are different, the form will submit normally
            });
        });
        </script> -->
    
{% endblock content %}
